

body {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
  font-family: 'Roboto';
  font-size: 14px;
  background-color: #383E51;
  height: 100vh;
  background-image: url('./asset/img/Background/BG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  /* display: block; */
}

.App {
  width: 100%;
}